div.step-maker .step:last-child {
	mix-width: auto !important;
	max-width: auto !important
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	div.step-maker .step:last-child {
		mix-width: auto !important;
		max-width: auto !important
	}
}
