	/*material shadow depth-1*/
.shadow_level_1,.shadow_level_1_clickable{
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
	/*material shadow depth-2*/
 .shadow_level_2,.shadow_level_2_clickable {	
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
 }
	/*material shadow depth-3, 1:hover*/
.shadow_level_3, .shadow_level_3_clickable, .shadow_level_1_clickable:hover{		
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);	
}
	/*material shadow depth-4, 2:hover*/
.shadow_level_4, .shadow_level_2_clickable:hover{
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);		
}
	/*material shadow depth-5, 3:hover*/
.shadow_level_5, .shadow_level_3_clickable:hover{
	box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);	
}

/*Clickable trasition*/
.shadow_level_1_clickable{	
	transition:0.05s ;
}
.shadow_level_1_clickable:hover{	
	transition:0.1s !important;
	transform:scale(1.02) !important;
}
 .shadow_level_2_clickable {	
	transition: 0.05s ;
 }
 .shadow_level_2_clickable:hover{	 
	transition: 0.1s !important;
	transform:scale(1.1) !important;
}
.shadow_level_3_clickable{	
	transition:0.02s ;
}
.shadow_level_3_clickable:hover{
	transition: 0.2s !important;
	transform:scale(1.2) !important;
}
